.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border : black solid 5px;
    border-radius : 5px;
    padding:2%;
    text-align: center;
}
.bloc-cookie{
    display: flex;
    justify-content: space-between;
}

#info-cookie{
    background-color: rgba(250,203,80,0.9);
}



@media screen and (max-width: 640px) {
    .img-Alaska {
        display:none;
    }

    .centered{
        top: 10%;
        left: 5%;
        transform: translate(0%, 100%);
    }
}